<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

<!--    无参构造-->
    <bean name="exampleBean" class="cn.yusite.kotlin.spring.framework.chapter.two.ExampleBean"/>

<!--    静态工厂方法-->
    <bean name="staticFactory" class="cn.yusite.kotlin.spring.framework.chapter.two.StaticFactory" factory-method="createInstance"/>

<!--    实例工厂方法-->
    <bean name="exampleAnotherBean" factory-bean="exampleBean" factory-method="createExampleAnotherBean">
        <constructor-arg value="100"/>
    </bean>

</beans>