<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="beanOne" class="cn.yusite.kotlin.spring.framework.chapter.three.ThingOne">
        <constructor-arg ref="beanThree"/>
        <constructor-arg ref="beanTwo"/>
    </bean>

    <bean id="beanTwo" class="cn.yusite.kotlin.spring.framework.chapter.three.ThingTwo"/>

    <bean id="beanThree" class="cn.yusite.kotlin.spring.framework.chapter.three.ThingThree"/>

<!--    constructor-base dependence injection-->
    <bean id="exampleBean" class="cn.yusite.kotlin.spring.framework.chapter.three.ExampleBean">
        <constructor-arg name="years" value="100"/>
        <constructor-arg name="str" value="test"/>
    </bean>

    <bean id="exampleBean2" class="cn.yusite.kotlin.spring.framework.chapter.three.ExampleBean">
        <constructor-arg name="thingOne" ref="beanOne"/>
    </bean>

<!--    setter-base Dependence Injection-->
    <bean id="thingFour" class="cn.yusite.kotlin.spring.framework.chapter.three.ThingFour">
        <property name="thingOne" ref="beanOne"/>
        <property name="thingTwo" ref="beanTwo"/>
        <property name="i" value="23"/>
    </bean>

    <bean id="exampleBean3" class="cn.yusite.kotlin.spring.framework.chapter.three.ExampleBean"
          factory-method="createInstance">
        <constructor-arg name="years" value="50"/>
        <constructor-arg name="str" value="factory static method"/>
    </bean>

</beans>