<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        https://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/aop
        https://www.springframework.org/schema/aop/spring-aop.xsd">
    <bean class="cn.yusite.kotlin.spring.framework.xml.scope.SingletonBean"/>
    <bean class="cn.yusite.kotlin.spring.framework.xml.scope.PrototypeBean" scope="prototype"/>
    <bean class="cn.yusite.kotlin.spring.framework.xml.scope.RequestBean" scope="request"/>
    <bean class="cn.yusite.kotlin.spring.framework.xml.scope.SessionBean" scope="session"/>
<!--该作用域作用于ServletContext级别上-->
<!--    <bean class="cn.yusite.kotlin.spring.framework.xml.scope.ApplicationBean" scope=""/>-->
<!--    <bean class="cn.yusite.kotlin.spring.framework.xml.scope.WebSocketBean"/>-->
</beans>