<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:p="http://www.springframework.org/schema/p"
       xmlns:c="http://www.springframework.org/schema/c"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">


    <bean id="outer"
          class="cn.yusite.kotlin.spring.framework.xml.inner.Outer">
        <constructor-arg name="outerName" value="外部类名称"/>
        <property name="target">
            <bean class="cn.yusite.kotlin.spring.framework.xml.inner.Inner">
                <constructor-arg name="innerName" value="内部类名称"/> <!-- this is the inner bean -->
            </bean>
        </property>
    </bean>


</beans>